# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
.DS_Store
# Distribution / packaging
.Python
env/
venv/
trader_report/
lztrader_envs/
ENV/
env.bak/
venv.bak/
.env
*.egg-info/
dist/
build/
.eggs/
test
keys
*.whl
demo/
/novelai_envs
.python-version
noveai_envs/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode settings
.vscode/

# IDEs and Editors
.idea/
*.swp
*~
.vscode/
*.sublime-project
*.sublime-workspace

# PyCharm
.idea/
*.iml
*.iws
out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
.eggs/
*.whl

# Unit test / coverage reports
htmlcov/
.tox/
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/
.history/